<header class="fixed top-0 z-20 w-full" x-data="{ open: false }">
  <div class="bg-black/60 backdrop-blur-sm">
    <nav
      class="mx-auto flex max-w-7xl items-center justify-center p-6 sm:p-4"
      aria-label="Global"
    >
      <div class="absolute right-0 ml-auto flex p-2 lg:hidden">
        <button
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white"
          @click.prevent="open = true"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-4">
        <a
          href="#Welcome"
          class="group relative rounded-xl px-5 py-2 text-xl font-lightweight text-white/90 ease-in-out transition-all duration-300 hover:scale-105 hover:bg-purple-900/70"
        >
          <span class="relative z-10">Welcome</span>
          <span
            class="absolute inset-0 rounded-xl bg-purple-800/20 opacity-0 blur-sm transition-opacity duration-300 group-hover:opacity-100"
          ></span>
        </a>
        <a
          href="#About"
          class="group relative rounded-xl px-5 py-2 text-xl font-lightweight text-white/90 ease-in-out transition-all duration-300 hover:scale-105 hover:bg-purple-900/70"
        >
          <span class="relative z-10">About</span>
          <span
            class="absolute inset-0 rounded-xl bg-purple-800/20 opacity-0 blur-sm transition-opacity duration-300 group-hover:opacity-100"
          ></span>
        </a>
        <a
          href="#Skills"
          class="group relative rounded-xl px-5 py-2 text-xl font-lightweight text-white/90 ease-in-out transition-all duration-300 hover:scale-105 hover:bg-purple-900/70"
        >
          <span class="relative z-10">Skills</span>
          <span
            class="absolute inset-0 rounded-xl bg-purple-800/20 opacity-0 blur-sm transition-opacity duration-300 group-hover:opacity-100"
          ></span>
        </a>
        <a
          href="#Projects"
          class="group relative rounded-xl px-5 py-2 text-xl font-lightweight text-white/90 ease-in-out transition-all duration-300 hover:scale-105 hover:bg-purple-900/70"
        >
          <span class="relative z-10">Projects</span>
          <span
            class="absolute inset-0 rounded-xl bg-purple-800/20 opacity-0 blur-sm transition-opacity duration-300 group-hover:opacity-100"
          ></span>
        </a>
        <a
          href="#Contact"
          class="group relative rounded-xl px-5 py-2 text-xl font-lightweight text-white/90 ease-in-out transition-all duration-300 hover:scale-105 hover:bg-purple-900/70"
        >
          <span class="relative z-10">Contact</span>
          <span
            class="absolute inset-0 rounded-xl bg-purple-800/20 opacity-0 blur-sm transition-opacity duration-300 group-hover:opacity-100"
          ></span>
        </a>
      </div>
    </nav>
  </div>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Sidebar, shown only when open is true -->
    <div
      class="fixed inset-y-0 right-0 z-10 w-64 overflow-hidden border-l border-white/20 bg-black/60 px-6 py-8 backdrop-blur-sm sm:max-w-sm sm:ring-1 sm:ring-white/20 transform transition-transform duration-500 ease-in-out"
      x-show="open"
      x-transition:enter="transform transition ease-in-out duration-500"
      x-transition:enter-start="translate-x-full"
      x-transition:enter-end="translate-x-0"
      x-transition:leave="transform transition ease-in-out duration-500"
      x-transition:leave-start="translate-x-0"
      x-transition:leave-end="translate-x-full"
      @scroll.window.prevent
      x-cloak
      @click.away="open = false"
    >
      <!-- Close button -->
      <div class="flex items-center justify-end">
        <button
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-white"
          @click="open = false"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <!-- Menu links -->
      <div class="mt-10 flow-root">
        <div class="space-y-6 text-left">
          <template
            x-for="item in ['Welcome', 'About', 'Skills', 'Projects', 'Contact']"
            :key="item"
          >
            <a
              :href="`#${item}`"
              class="block px-4 py-4 text-lg font-semibold text-white border-purple-500 border-b"
              @click="open = false"
              x-text="item"
            ></a>
          </template>
        </div>
      </div>
    </div>
  </div>
</header>
