@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

[x-cloak] {
  display: none !important;
}

body {
  background-color: #0d0d0d;
  color: #eaeaea;
}

.w-64 {
  width: 16rem; /* Adjust for smaller screens if needed */
}
.h-64 {
  height: 16rem; /* Adjust for smaller screens if needed */
}

#Welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1613077824640-0eef5c1237af?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cHVycGxlJTIwZmxvd2Vyc3xlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#Welcome::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.374); /* controls overlay opacity */
  z-index: 0;
}

#Welcome > * {
  position: relative;
  z-index: 1;
}

.skill-text {
  position: relative;
  display: inline-block;
  color: white;
  background: linear-gradient(to right, #a855f7 50%, white 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s ease;
}

.skill-text:hover {
  background-position: 0 0;
}

.typed-cursor {
  font-size: 1.5em; /* makes it taller */
  font-weight: bold; /* makes it thicker */
  line-height: 1; /* align better */
  color: #e4dbe1db; /* optional color */
}
