@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

[x-cloak] {
  display: none !important;
}

body {
  background-color: #0d0d0d;
  color: #eaeaea;
}

.w-64 {
  width: 16rem; /* Adjust for smaller screens if needed */
}
.h-64 {
  height: 16rem; /* Adjust for smaller screens if needed */
}

#Welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1613077824640-0eef5c1237af?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cHVycGxlJTIwZmxvd2Vyc3xlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* This makes the background fixed */
  z-index: -10;
}

#welcome-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  z-index: -1;
}

@keyframes sparklePulse {
  0% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.7; transform: scale(1.05); }
  100% { opacity: 1; transform: scale(1); }
}

.sparkle {
  animation: sparklePulse 1.2s ease-in-out infinite;
}
